<section id="user_data">
  <%= render partial: "shared/userbar", locals: {
    photo: @user.photo,
    username: @user.name,
    post_number: @user.posts_counter,
    id: @user.id,
  } 
  %>
  <div class="bio-container">
    <p class="title">Bio</p>
    <p class="text"> <%= @user.bio %></p>
  </div>

  <%=render partial: "shared/postbar", locals: {posts: @user.posts, user_id: @user.id} %>

  <div class="btn-container">
    <%= link_to "See all posts", "/users/#{@user.id}/posts", class: "button" %>
  </div>
</section>



