<section id="user_data">
  <%= render partial: "shared/userbar", locals: {
    photo: @user.photo,
    username: @user.name,
    post_number: @user.posts_counter
  } 
  %>
  <div class="bio">
    <p class="title">bio</p>
    <p class="bio_text"> <%= @user.bio %></p>
  </div>

  <div class="user_posts">
    <p class="title">posts</p>
    <% @user.posts.each do |post| %>
      <%= render partial: "shared/postbar", locals: {
        title: post.title,
        text: post.text
      } %>
    <% end %>
</section>



