
<div  class="user-card">
  <div class="photo-container">
    <%= photo %>
  </div>
  <div class="user-container">
    <p class="user-name"><%= link_to username, "/users/#{id}" %></p>
    <p class="text posts_counter">Number of posts: <%= post_number %></p>
  </div>
</div>