
<div class="user">
  <div class="photo">
    <p><%= photo %></p>
  </div>
  <div class="bar">
    <p class="username"><%= username %></p>
    <p class="post_number">Number of posts: <%= post_number %></p>
  </div>
</div>